body{
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalhoPrincipal nav{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cabecalhoPrincipal{
    background-color: rgb(80,197,155);
    height: 70px;    
}

#cabecalhoPrincipal h1{
    text-align: center;
    color : white;
}

body, #cabecalhoPrincipal h1{
    margin: 0;
}

#cabecalhoPrincipal a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
    padding: 2px 10px;
    background: rgb(61,131,183);
    display: inline;
}


section#main{
    background-color: rgb(230, 230, 230);
    padding: 2% 5%;

    overflow: hidden;
}

section#main h2{
    text-align: center;
}

section#main article{
    border: solid 30px;
    border-top: 2px;
    border-color: transparent;
    display: inline-block;
    width: 33%;
    text-align: center;
    text-align: justify;

    float: left;
    box-sizing: border-box;
}

section#rodape footer{
    background-color: rgb(80,197,155);
    height: 45px;
    text-align: center;
    color: white;
    font-size: 20px;
}